.todoContainer{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 18px 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titleRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.categoriesRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
    padding-left:30px;
}

.priorityRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
    padding-left:30px;
    margin-top: 12px;
}

.titleText{
    color: rgba(0, 0, 0, 0.85) !important;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    line-height: 24px;
}

.removeBtn{
    fill: rgba(0, 0, 0, 0.45);
    height: 16px;
    width: 16px;
    margin-right: 14px;
    margin-top: 4px;
}

.checkbox{
    margin-left: 14px;
    margin-top: 4px;
}

.categoryText{
    font-size: 12px;
    color: rgba(0,0,0,0.45) !important;
    font-weight:500;
    margin-right: 5px;
}