.addTodoButtonContainer{
    z-index: 10;
    position: fixed;
    bottom: 24px;
    right: 24px;
}

.addTodoButton{
    width: 64px !important;
    height: 64px !important;
    border-radius: 12px !important;
    box-shadow: 0 0 12px -1px rgba(24,144,255,80) !important;
}
.addTodoButtonDisabled{
    width: 64px !important;
    height: 64px !important;
    border-radius: 12px !important;
}

.doneTodoButton{
    width: 100%;
    height: 64px !important;
    border-radius: 12px !important;
    box-shadow: 0 0 12px -1px rgba(24,144,255,80) !important;
}
.doneTodoButtonDisabled{
    width: 100%;
    height: 64px !important;
    border-radius: 12px !important;
}
.doneTodoButtonContainer{
    margin-bottom: 24px;
    width: 100%;
}

.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 1000;
    overflow-y: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    padding-left: 36px;
    padding-right: 36px;
}

.closeModalButton{
    border: unset !important;
}

.addTodoTitle{
    font-size: 42px !important;
    font-weight: 400;
    margin-top: 14px;
}

.modalBody {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 36px;
    padding-right: 36px;
}

.inputGroup{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
}

.inputTitle{
    margin-bottom: 8px !important;
}

.modalFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}

.addTodoCategoryInput{
    flex: auto;
}

.addTodoCategoryContainer{
    display: flex;
    flex-wrap: nowrap;
    padding: 8px;
}

.addTodoCategoryButton{
    flex: none;
    padding: 8px;
    margin-left: 10px;
    display: block;
    cursor: pointer;
}

.divider{
    margin: 4px 0;
}